@model UiApp.Models.MessagesModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MessagesModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MessageID" class="control-label"></label>
                <input asp-for="MessageID" class="form-control" />
                <span asp-validation-for="MessageID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageHeadline" class="control-label"></label>
                <input asp-for="MessageHeadline" class="form-control" />
                <span asp-validation-for="MessageHeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageText" class="control-label"></label>
                <input asp-for="MessageText" class="form-control" />
                <span asp-validation-for="MessageText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageDate" class="control-label"></label>
                <input asp-for="MessageDate" class="form-control" />
                <span asp-validation-for="MessageDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
